
= content_for :title, t('home').capitalize

%ul{ class: 'col-span-6 space-y-4' }
  %li
    %p= link_to t('users').capitalize, users_path, class: 'anchor'
    %p Отобразить пользователей Системы
  %li
    %p= link_to t('contracts').capitalize, contracts_path, class: 'anchor'
    %p Вывести перечень договоров

