
.bundle
.dockerignore
.git
.gitignore
.rspec

Gemfile.lock
Dockerfile*
Procfile

features
spec
tags
tmp
vendor

**/.keep

assets/builds

config/environments/development.rb
config/environments/test.rb

config/cucumber.yml

lib/tasks/cucumber.rake

log/development.log
log/production.log
log/test.log

public/assets

storage/development.sqlite3
storage/production.sqlite3
storage/test.sqlite3

