
%div{ class: 'mx-auto md:w-2/3 w-full' }
  %h1{ class: 'font-bold text-4xl' } New movie
  -# = render 'form', movie: @movie, genres: @genres
  = render partial: 'form', locals: { movie: @movie, genres: @genres }

