
-# = form_with model: quote, data: { turbo: false } do |form|
= form_with model: quote do |form|
  %div
    %div
      = form.label :name, 'Name'
    %div
      = form.text_field :name
    %div
      = form.submit t('helpers.submit.quote')

