
= content_for :title, t('contracts').capitalize

%ul{ class: 'col-span-6 space-y-4' }
  - @contracts.each do |contract|
    %li
      %p= link_to contract.number, contract_path(contract), class: 'anchor'
      %p= contract.description

