
= content_for :title, t('contract').pluralize.capitalize

%section
  = link_to t('new_contract').capitalize, new_contract_path
%section
  %ul
    = render partial: 'contract', collection: @contracts

